<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranfers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
    <div id="app">
        <header >
            <nav class="navbar navbar-expand-lg colornav">
                <div class="">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-evenly align-items-lg-center"
                    id="navbarNav">
                    <div class="col-4">
                        <a class="navbar-brand mx-lg-5" href="#"><img class="logo-img"
                                src="./assets/img/logoreparado.svg" alt=""></a>
                    </div>
                    <ul class="navbar-nav navbarItems col-4 d-lg-flex justify-content-lg-around align-items-lg-center">
                        <li class="nav-item ms-lg-5">
                            <a class="nav-hover" aria-current="page" href="./transfers.html"><i class="bi bi-bank pe-1"></i>Transfer</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-hover" href="./accounts.html"><i class="bi bi-person-circle pe-1"></i>accounts</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-hover me-lg-5" href="./cards.html"><i class="bi bi-credit-card-2-front-fill pe-1"></i>cards</a>
                          </li>
                          
                    </ul>
                    <div class="col-4">
                        <div class="d-lg-flex float-lg-end align-items-lg-center">
                            <div class="dropdown-center me-lg-4">
                                <h5> Hi:{{client.firstName}} {{client.lastName}} </h5>
                                <h5>{{client.email}}</h5>
    
                                <ul class="dropdown-menu dropdown-menu-lg-end">
                                    <li><a class="dropdown-item" href="#"><i
                                                class="bi bi-box-arrow-right pe-1"></i>Settings</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-center me-lg-5 ">
                                <a class=" bg-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="profile"
                                        src="./assets/img/Perfilucho.png"
                                        alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg-end">
                                    <li @click="logOut"><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right pe-1"></i>Sing
                                            Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container">
            <div class="row">

                <select class="mt-3" v-model="loanId">
                    <option v-for="loan in loans" :value="loan.id">{{loan.name}}</option>
                </select>
                
                <select class="mt-3" v-if="loanId" v-model="loanPays">
                    <option v-for="payment in loans.filter(l=>l.id == loanId)[0].payments" :value="payment">{{payment}}</option>
                </select>
    
                <input class="mt-3" v-model="amount" type="number" placeholder="amount">
    
                <select v-model="accountDestiny" class="form-select form-select-lg mb-3 mt-3"
                    aria-label=".form-select-lg example">
                    <option v-for="account in accounts" :value="account.number">{{account.number}}</option>
                </select>

                <div class="mt-3" v-show="loanPays != 0">
                    <h3>Total to pay: ${{amount * 1.20}}</h3>
                    <h3>u/payments: ${{(amount * 1.20) / loanPays}}</h3>
                </div>
            </div> 
            
            <button class="btn btn-primary" @click="loanPetition">loan petition</button>
        </main>


        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./assets/loan-application.js"></script>
</body>

</html>