<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranfers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./assets/style.css">
</head>

<body>
    <div id="app">
        <header >
            <nav class="navbar navbar-expand-lg colornav">
                <div class="">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-evenly align-items-lg-center"
                    id="navbarNav">
                    <div class="col-4">
                        <a class="navbar-brand mx-lg-5" href="#"><img class="logo-img"
                                src="./assets/img/logoreparado.svg" alt=""></a>
                    </div>
                    <ul class="navbar-nav navbarItems col-4 d-lg-flex justify-content-lg-around align-items-lg-center">
                        <li class="nav-item ms-lg-5">
                            <a class="nav-hover" aria-current="page" href="./transfers.html"><i class="bi bi-bank pe-1"></i>Transfer</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-hover" href="./accounts.html"><i class="bi bi-person-circle pe-1"></i>accounts</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-hover me-lg-5" href="./cards.html"><i class="bi bi-credit-card-2-front-fill pe-1"></i>cards</a>
                          </li>
                          
                    </ul>
                    <div class="col-4">
                        <div class="d-lg-flex float-lg-end align-items-lg-center">
                            <div class="dropdown-center me-lg-4">
                                <h5> Hi:{{client.firstName}} {{client.lastName}} </h5>
                                <h5>{{client.email}}</h5>
    
                                <ul class="dropdown-menu dropdown-menu-lg-end">
                                    <li><a class="dropdown-item" href="#"><i
                                                class="bi bi-box-arrow-right pe-1"></i>Settings</a></li>
                                </ul>
                            </div>
                            <div class="dropdown-center me-lg-5 ">
                                <a class=" bg-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="profile"
                                        src="./assets/img/Perfilucho.png"
                                        alt="">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg-end">
                                    <li @click="logOut"><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right pe-1"></i>Sing
                                            Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container d-flex align-items-center justify-content-center">
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog text-center">
                    <div class="modal-content modalin">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Transfer Detail</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>to: {{originAccount}}</h5>
                            <h5>from: {{destinyAccount}}</h5>
                            <h5>${{amount}}</h5>
                        </div>
                        <p>are you sure to transfer to this account?</p>
                        <div class="modal-footer">
                            <button type="button" class="btn trasno" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn transi" @click="newTranfer">yes, transfer</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transferencia rounded p-2 w-75 transactionMain">
                <select v-model="tranferType" class="form-select colorin form-select-lg mb-3"
                    aria-label=".form-select-lg example">
                    <option value="own account">own accounts</option>
                    <option value="other accounts">other accounts</option>
                </select>
                <div v-if="tranferType == 'own account'">
                    <div>
                        <h5>origin account</h5>
                        <select v-model="originAccount" class="form-select colorin form-select-lg mb-3"
                            aria-label=".form-select-lg example">
                            <option v-for="account in accounts" v-show="account.number != destinyAccount"
                                :value="account.number">{{account.number}}</option>
                        </select>
                    </div>
                    <div>
                        <h5>destiny account</h5>
                        <select v-model="destinyAccount" class="form-select colorin form-select-lg mb-3"
                            aria-label=".form-select-lg example">
                            <option v-for="account in accounts" v-show="account.number != originAccount"
                                :value="account.number">{{account.number}}</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3" v-if="tranferType == 'other accounts'">
                    <h5>origin account</h5>
                    <select v-model="originAccount" class="form-select form-select-lg mb-3"
                        aria-label=".form-select-lg example">
                        <option v-for="account in accounts" v-show="account.number != destinyAccount"
                            :value="account.number">{{account.number}}</option>
                    </select>
                    <h5>destiny account</h5>
                    <input v-model="destinyAccount" type="text" class="form-control" placeholder="VIN-########"
                        aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="mb-3">
                    <input class="cantidadTransaction" v-model="amount" type="number" placeholder="0 $" name="" id="">
                </div>
                <div class="form-floating">
                    <textarea v-model="description" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Description</label>
                </div>

                <div>
                    <div class="mt-3" v-if="destinyAccount == false || originAccount == false || description == '' || amount <= 0">
                        <h6 class="alert alert-danger" role="alert">
                            enter all the fields to make a transfer
                        </h6>
                        <button disabled type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Transfer</button>
                    </div>
                    <button v-else  type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Transfer</button>
                  </div>
            </div>
        </main>
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./assets/transfer.js"></script>
</body>

</html>